<?xml version="1.0" encoding="UTF-8"?>
<beans xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd http://www.springframework.org/schema/context http://www.springframework.org/schema/context/spring-context.xsd" 
	xmlns:context="http://www.springframework.org/schema/context" 
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" 
	xmlns="http://www.springframework.org/schema/beans">


	<!-- AComputer implements Computer -->
	<bean id="acom" class="co.bm.beans.AComputer" />
	
	<!-- 1-1. setter 주입 
	<bean id="hicom" class="co.bm.beans.Hi" >
		<property name="str1" value="hi there!!" />
		<property name="acom" ref="acom" />
	</bean>
	-->
	
	<!-- 1-2. 생성자주입 -->
	<bean id="hicom" class="co.bm.beans.Hi" >
		<constructor-arg  value="hi there~~~~" />
		<constructor-arg ref="acom" />
	</bean>



</beans>