<?xml version="1.0" encoding="UTF-8"?>
<beans xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd http://www.springframework.org/schema/context http://www.springframework.org/schema/context/spring-context.xsd" 
	xmlns:context="http://www.springframework.org/schema/context" 
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" 
	xmlns="http://www.springframework.org/schema/beans">


	<bean destroy-method="b_destroy" init-method="b_init" class=" co.bm.mj.beans.Test" id="a1" lazy-init="true" />
 
<!--  
	<bean class=" co.bm.mj.beans.Test2" id="a2" lazy-init="true" />
-->
	<bean destroy-method="b1_destroy" init-method="b1_init" class=" co.bm.mj.beans.Test2" id="a2" lazy-init="true" />
	
	
	
</beans>